.monaco-editor .mtk1 {
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
 
}

.monaco-editor .view-line {
  border-bottom-color: white !important;
  box-shadow: none !important;
width: 100% !important;
  /* background-color: antiquewhite; */
  overflow-x: hidden;
  overflow-y: hidden;
}

.monaco-editor .margin-view-overlays {
  width: 0;
  margin: 0 !important;
}

.monaco-editor .lines-content .monaco-editor-background {
  left: 0px !important;
  position: static;
  height: 40px;
}

.monaco-editor .selected-text {
  border-radius: 40;
  color: rgb(217, 234, 255);
}

.monaco-editor .scroll-decoration {
  box-shadow: none !important;
  display: none;
}

.monaco-editor .scrollbar {
  display: none;
}

.monaco-editor {
  width: 100%;
  overflow-y: hidden;
}

.monaco-editor .selected-text {
  background-color: rgb(217, 234, 255);
}

.monaco-editor .decorationsOverviewRuler {
  border: white !important;
  box-shadow: none !important;
  background-color: white;
  display: none;
  color: white bors;
}

/* Beispiel für die Farbe von Schlüsselwörtern */
.monaco-editor .token.keyword {
  color: #ffffff !important;
}

.monaco-editor {
  height: auto;
  width: 100%;
background-color: aqua !important;
}

.monaco-editor .monaco-editor {
  height: 60px;
}

.monaco-editor .cursor {
  background-color: rgb(2, 127, 255) !important; /* Passe die Farbe an */
  height: 17px !important;
  margin-top: 3px;
}

.monaco-editor .overflow-guard,
.monaco-editor .margin,
.monaco-editor .editor-scrollable,
.monaco-editor .minimap {
  overflow: hidden !important;
}

.monaco-editor .monaco-remote-cursor-tooltip {
  /* background-color: blueviolet !important; */
  border-radius: 4px;
  border-top-left-radius: 0px;
   border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  width: fit-content;
  flex: auto;
  color: #ffffff;
  white-space: nowrap;
  padding-inline: 5px;
  font-size: small;
  margin-top: 16px;
  opacity: 0.9 !important;
  backdrop-filter: blur(40px) !important; 
}

.monaco-editor .monaco-remote-cursor {
  width: 1.5px;
  height: 17px !important;
  position: absolute;
  animation: cursorPulse 1s infinite;
  margin-top: 3.5px;
  position: fixed;
  z-index: 50;
 
}

@keyframes cursorPulse {
  0% {
    background-color: #00000000;
  }
  50% {
    background-color: #00000000;
  }
  51% {
    background-color: #00000000 !important;
  }
  100% {
    background-color: #00000000 !important;
  }
}

@keyframes cursorPulse2 {
  0% {
  opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1
  }
}
