.monaco-editor .mtk1 {
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  overflow: hidden;
  position: relative;

  width: 100%;
}

.monaco-editor .view-line {
  border-bottom-color: white !important;
  box-shadow: none !important;

  /* background-color: antiquewhite; */
  overflow-x: hidden;
  overflow-y: hidden;
}

.monaco-editor .margin-view-overlays {
  width: 0;
  margin: 0 !important;
}

.monaco-editor .lines-content .monaco-editor-background {
  left: 0px !important;
  position: static;
  height: 40px;
}

.monaco-editor .selected-text {
  border-radius: 40;
  color: rgb(217, 234, 255);
}

.monaco-editor .scroll-decoration {
  box-shadow: none !important;
  display: none;
}

.monaco-editor .scrollbar {
  display: none;
}

.monaco-editor {
  width: 100%;
  overflow-y: hidden;
}

.monaco-editor .selected-text {
  background-color: rgb(217, 234, 255);
}

.monaco-editor .decorationsOverviewRuler {
  border: white !important;
  box-shadow: none !important;
  background-color: white;
  display: none;
  color: white bors;
}

/* Beispiel für die Farbe von Schlüsselwörtern */
.monaco-editor .token.keyword {
  color: #ffffff !important;
}

#editor {
  height: auto;
}

.monaco-editor .monaco-editor {
  height: 60px;
}

.monaco-editor .cursor {
  background-color: rgb(2, 127, 255) !important; /* Passe die Farbe an */
  height: 17px !important;
  margin-top: 3px;
}

.monaco-editor .overflow-guard,
.monaco-editor .margin,
.monaco-editor .editor-scrollable,
.monaco-editor .minimap {
  overflow: hidden !important;
}
